input, select {
  @apply transition-all duration-200 rounded-none outline-none;
}

input[type='text'],
input[type='email'],
input[type="search"],
input[type="password"],
input[type="tel"] {
  @apply w-full min-w-[10rem] px-5 py-4 border border-grey-100 hover:border-grey-300 active:border-grey-700 placeholder:text-grey-700;

  &.input-error,
  &.input-invalid {
		@apply text-error placeholder-error border-error outline-none focus:border-error active:border-error hover:border-error;

		& + .input-error,
    & + .input-error-message {
			@apply flex;
		}
	}

  &:not(.input-error):focus {
    @apply bg-off-white border-black;
  }
}

label.input-label {
  @apply inline-block text-sub-xs uppercase text-grey-800 font-semibold;
}

div.input-error,
div.input-error-message {
  @apply hidden flex-row gap-1 items-center;

  span {
    @apply text-xs text-error;
  }
}

.input-wrap {
  @apply flex flex-col gap-1;
}

select {
  @apply cursor-pointer w-full min-w-[12rem] px-5 py-4 border border-grey-100 hover:border-grey-300 focus:border-black active:border-black placeholder:text-grey-700;
}

.select-wrap {
  @apply inline-block relative w-full;

  label.input-label {
    @apply mb-1;
  }

  select {
    @apply appearance-none;

    &.input-error,
    &.input-invalid {
      @apply text-error placeholder-error border-error outline-none focus:border-error active:border-error hover:border-error;

      & + .input-error,
      & + .input-error-message {
        @apply flex;
      }
    }
  }

  &::after {
    content: url(data:image/svg+xml; utf8, <svg fill="none" height="7" viewbox="0 0 12 7" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M10.4697 0.469727L11.5303 1.53039L6.53033 6.53039C6.26406 6.79665 5.8474 6.82086 5.55378 6.603L5.46967 6.53039L0.469666 1.53039L1.53033 0.469727L6 4.93906L10.4697 0.469727Z" fill="black"/></svg>);
    touch-action: none;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
    top: 60%;
    right: 1rem;
    width: 1rem;
  }
}

/* Override select styling on bundle PDPs */
.select-wrap.bundle-pdp {
  &::after {
    top: 50% !important;
  }
}

.check-wrap,
.radio-wrap {
  @apply inline-flex items-center;

  label {
    @apply mb-0 text-p;
  }
}

input[type="radio"],
input[type="checkbox"] {
  @apply relative mr-[14px] border border-grey-100 rounded-none bg-white appearance-none cursor-pointer focus-visible:outline-grey-300;

  &:not(:disabled) {
    @apply hover:border-grey-300;
  }
}

input[type="radio"]:checked {
  @apply border-black bg-white;
}

input[type="checkbox"]:checked {
  @apply border-grey-800 bg-grey-800;
}

input[type="radio"] {
  @apply rounded-full w-6 h-6;
}

input[type="radio"]::before {
  content: '';
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full w-0 h-0 bg-black;
}

input[type="radio"]:checked::before {
  @apply w-3 h-3;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  @apply cursor-pointer;
}

input[type="checkbox"] {
  @apply w-5 h-5;
}

input[type="checkbox"]:checked::after {
  content: url('data:image/svg+xml; utf8, <svg width="14" height="10" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.8033 9.23528L14.2886 0.75L15.3492 1.81066L5.8033 11.3566L0.5 6.0533L1.56066 4.99264L5.8033 9.23528Z" fill="white"/></svg>');
  @apply absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white;
}

input[type="checkbox"]:disabled::after {
  content: url('data:image/svg+xml; utf8, <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.8033 9.23528L14.2886 0.75L15.3492 1.81066L5.8033 11.3566L0.5 6.0533L1.56066 4.99264L5.8033 9.23528Z" fill="#646565"/></svg>');
  @apply absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  @apply border-grey-100 bg-grey-100;
}
