.scrollbar {
  @apply overflow-x-auto;
}

.scrollbar::-webkit-scrollbar {
  @apply h-2;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-grey-300;
}

.scrollbar::-webkit-scrollbar-track {
  @apply mt-2 bg-grey-100;
}

.scrollbar::-webkit-scrollbar-track-piece {
  @apply bg-grey-100;
}

.scrollbar--white::-webkit-scrollbar-track-piece {
  @apply bg-opacity-0;
}

.snap-start {
  scroll-snap-align: start;
}

.snap-mandatory {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-center {
  scroll-snap-align: center;
}
