<div class="py-0 lg:py-14 px-6">
  <div class="max-w-[1200px] mx-auto">
    <div class="grid grid-cols-4 gap-10 lg:gap-6">
      <div class="col-span-4 lg:col-span-1 -mx-6 lg:mx-0">
        {%- render 'account-side-nav' -%}
      </div>
      <div class="col-span-4 lg:col-span-3">
        <h3>rewards</h3>
        <div data-lion-integrated-page=""></div>
      </div>
    </div>
  </div>
</div>
