<div class="max-w-[588px] mx-auto text-center pt-16 pb-32">
  <h1 class="text-h4 lg:text-h2">Reset Password</h1>
  <p class="mt-6 mb-0 text-center">
    Enter a new password {% if email != blank %} for {{ email }} {% endif %}
  </p>

  {%- comment -%} Forgot Password Form {%- endcomment -%}
  {%- form 'reset_customer_password', class: 'form mt-6' -%}
    {%- if form.errors -%}
      <div class="form-error-message">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    {%- comment -%} Email {%- endcomment -%}
    <div class="flex flex-col">
      <div class="input-wrap">
        <label class="input-label" for="ResetForm-password">Password</label>
        <input type="password" id="ResetForm-password" name="customer[password]" placeholder="Enter Password" required data-error-message="This input is required">
        <div class="input-error-message" data-error-for="input-error">
          {%- render 'alert' -%}
          <span>This is a required field.</span>
        </div>
      </div>
      <div class="input-wrap mt-6">
        <label class="input-label" for="ResetForm-password-confirmation">Confirm Password</label>
        <input type="password" id="ResetForm-password-confirmation" name="customer[password_confirmation]" placeholder="Re-enter Password" required data-error-message="This input is required">
        <div class="input-error-message" data-error-for="input-error">
          {%- render 'alert' -%}
          <span>This is a required field.</span>
        </div>
      </div>
    </div>

    <button class="button button--secondary !mt-10" type="submit">Submit</button>
    <div class="mt-4">
      <a class="text-sub-s" href="{{ routes.root_url }}">Cancel</a>
    </div>
  {%- endform -%}
</div>
