<div class="hidden" data-account-forgot-password>
  <div class="max-w-[588px] mx-auto text-center pt-16 pb-32">
    <h1 class="text-h4 lg:text-h2">Forgot Password</h1>
    <p class="mt-6 mb-0 text-center">
      We will send you an email to reset your password.
    </p>

    {%- comment -%} Forgot Password Form {%- endcomment -%}
    {%- form 'recover_customer_password', class: 'form mt-6' -%}
      <input type="hidden" name="return_to" value="{{ routes.account_login_url }}#recover"/>

      {%- if form.errors -%}
        <div class="form-error-message">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      {%- comment -%} Email {%- endcomment -%}
      <div class="flex flex-col">
        <div class="input-wrap">
          <label class="input-label text-left" for="ForgotForm-email">Email</label>
          <input
            type="email"
            name="email"
            id="ForgotForm-email"
            placeholder="Enter Email"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            spellcheck="false"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            required
            data-error-message="This input is required">
          <div class="input-error-message" data-error-for="input-error">
            {%- render 'alert' -%}
            <span>This is a required field.</span>
          </div>
        </div>
      </div>

      <button class="button button--secondary !mt-10" type="submit">Submit</button>
      <div class="mt-4">
        <a class="text-sub-s" data-go-signin href="javascript:void(0)">Cancel</a>
      </div>
    {%- endform -%}
  </div>
</div>
